/*STEP 1 - Start with a baseline - add Reset stylesheet to index.html, copied from the internets*/

/*Name my colors*/
:root {
    --dark: #062726;
    --blue: #102b3f;
    --purple: #6247aa;
    --amethyst: #a06cd5;
    --lavender: #e2cfea;
}

/*Add body style*/
body {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

h1 {
    text-align: center;
}

h2 {
    margin: 20px;
}

/*Add universal selectors*/
* {
    background-color: var(--lavender);
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

/*Add Container class*/
.container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    flex-direction:row;
    flex-flow: row wrap;
}

div {
    display: block;
}

/*Style Header*/
header {
    background: var(--purple);
    width: 100%;
    padding: 20px;
    color: whitesmoke;
    align-items: center;
    text-align: center;
}

/*style nav*/
nav {
    flex: 1 1 auto;
    background-color: var(--blue);
    padding: 20px;
}
nav a {
    color: whitesmoke;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  /*style bio*/
.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.bio_intro {
    margin: 10px;
    width: 40%;
    }
.bio_image {
    margin: 0;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--amethyst);
}
p.bio {
    font-size: 150%;
}

/*style portfolio*/
.portfolio {
    display: flex;
    justify-content: space-between;
}
.card {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--amethyst);
    background-color: whitesmoke;
    width: 50%;
}
.card_featured {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--amethyst);
    background-color: whitesmoke;
}
.card p {
    background-color: whitesmoke;
    color: var(--blue);
    text-align: center;
}
.card_featured p {
    background-color: whitesmoke;
    color: var(--blue);
    text-align: center;
}

/*style contact*/
p.contact {
    padding: 20px;
}

/*style footer*/
footer {
    padding: 10px;
    text-align: center;
  }

/*responsive*/
@media screen and (max-width: 576px) {
    .bio_intro, .bio_image, .card, p.bio, .container, .bio, div, .portfolio {
        width: 100%;
        font-size: 16px;
        display: block;
        align-items: center;
        margin-right: 0;
        margin-left: 0;

    }
}

btn {
    background-color: white;
    color: var(--purple);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 5px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}